
/*main section*/
#homepage{
    display: inline-block;
    width: 100%;
    padding: 0;
    margin-top: 15%;
}


/*first section*/
#first_section{    
    background-image: url("../../picture-assests/first_section.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 75vh;
    margin: 0;
    padding: 0;
    border: 1px solid lightgrey;
}

#first_section > header > h1{
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 5%;
    padding: 1.5%;
}

#first_section > h2{
    font-size: 1.6em;
    margin: 15% 0 -2% 0;    
    text-align: center;
    color: white;
}

#first_section p{
    width: 60%;
    margin: 3% auto;
    font-size: 1.1em;
    text-align: center;
    color: white;
}

#first_section a{
    display: block;
    width: 9em;
    height: 5em;
    border: 1px solid white !important;
    margin: 4% auto 0 auto;
    text-align: center;
    padding-top: 3%;
    border: none;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
}


/*features section*/
#features_section{
    display: grid;
    width: 100%;
    grid-template: 1fr / auto auto auto;
    grid-gap: 2em;
    padding: 5% 7%;
    margin: 2% 0;
    background-color: rgb(218, 218, 218);
}

#features_section section{ 
    padding: 0;
    text-align: center;
    background-color: white;
}

#features_section section p{
    width: 80%;
    margin: 10% auto 4% auto;
    text-align: center;
}

#child_friendly img{
    width: 100%;
    height: 50%;
}

#clean_kitchen p{
    width: 90%;
}

#clean_kitchen img {
    width: 100%;
    height: 15em;
}

#clean_office img{
    width: 100%;
    height: 50%;
}

/* living room section */
#living_room_section{
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

#clean_living_room{
    width: 100%;
    height: 25em;
}

#living_room_section p{
    width: 95%;
    height: 50%;
    text-align: center;
    margin: auto;
}

.to_signup{
    display: block;
    text-align: center;
    margin: 7% auto 0 auto;
    padding-top: 1.5%;
    width: 8em; 
    height: 3.5em;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}



@media screen and (max-width: 445px ){
  #homepage{
      margin-top: 25%;
  }
/*first section*/  

#first_section{
    height: 25em;
}

    #first_section a{
        border: 1px solid black;
        margin-top: 10%;
        padding-top: 6%;
    }

    /*features section*/
    #features_section{
        grid-template: auto auto auto / 1fr;
    }

    #features_section section{
        width: 75%;
        height: auto;
        margin: 0 auto;
    }


    /*living room section */
    #living_room_section{
        grid-template: 1fr 1fr / 1fr;
    }

    #clean_living_room{
        display: block;
        height: auto;
    }

    #living_room_section p{
        margin: 0 auto  ;
    }

    .to_signup{
        padding-top: 3%;
        margin-top: 30% !important;
    }
}

@media screen and (max-width: 768px){

    #first_section{
        height: 25em;
    }
    #features_section section img{
        height: 25%;
    }

    #living_room_section p{
        margin: auto;
    }

    .to_signup{
        margin-top: 10%;
    }
}