#user_section{
    margin: 7% 0 0 0;
    padding: 0;
}

#user_section > div{
    display: flex;
    justify-content: space-evenly;
}


#user_section > h1{
    margin: 2% auto 5% 50%;
    width: 40%;
    text-align: right;
}