#user_section{
    margin: 20% 0 0 0;
    padding: 0;
}

.User-Link{
    text-decoration: none;
    color: rgb(253, 127, 169);
    font-size: 1.1em;
}

#user_section > div{
    display: flex;
    justify-content: space-evenly;
}


#user_section > h1{
    margin: 4em auto ;
    width: 40%;
    color: rgb(253, 127, 169);
    text-align: center;
    font-size: 1.5em;
}

@media screen and (max-width: 445px){
    #user_section{
        margin-top: 30%;
    }
}