#edit_section{
    margin: 7% 0 7% 0;
    padding: 0;
}

#edit_form{
    padding: 0;
    margin: 0;
}


#edit_form > fieldset{
    display: flex;
    width: 65%;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
    color: #DB7093;
}

#edit_form > fieldset header{
    margin: 2% auto;
}

#edit_form > fieldset header > h1{
    width: 80%;
    text-align: center;
    margin: 5% auto;
    font-size: 1.5em;
}

#edit_form > fieldset > label{
    width: 50%;
    margin: 4% auto 1% auto;
    text-align: center;
}

.checkbox-grid{
    display: grid;
    grid-template: 1fr/ 1fr 1fr;
    grid-gap: 1%;
    padding: 2%;
    margin: 1% 0 10% 0;
}

.checkbox-grid div{
    display: inline-block;
    width: 100%;
}

.checkbox-grid > div label{
    display: block;
    margin: 2% auto 2% 40%;
}

#edit_price{
    display: inline-block;
    font-size: 1.8em;
    width: 100%;
    height: 50%;
    text-align: center;
    color: rgb(4, 194, 4) !important;
    padding: 0;
    margin: auto 0;
}

#edit_days{
    display: block;
    height: 3em;
    width: 60%;
    text-align: center;
    margin: 0 auto 0 auto;
}



#edit_comments{
    width: 60%;
    height: 12em;
    margin: 0 auto 0 auto;
    border: 1px solid #DB7093; 
    color: #DB7093;
    font-size: 1em;
}




#edit_submit{
    margin: 3% auto;
    width: 6em;
    height: 3em;    
    color: white;
    background-color: #DB7093;
    border: 1px solid black;
}





@media screen and (max-width: 750px){
    .checkbox-grid div{
        display: inline-block;
        width: 100%;
    }
    
    .checkbox-grid > div label{
        display: block;
        width: 100%;
        margin: 2% auto 2% 30%;
    }
    
    #edit_price{
        display: inline-block;
        font-size: 1.8em;
        width: 100%;
        height: 50%;
        text-align: center;
        color: rgb(4, 194, 4);
        padding: 0;
        margin: auto 0;
    }
    
    #edit_days{
        display: block;
        height: 3em;
        text-align: center;
        margin: 0 auto 0 auto;
    }
    
    .react-date-picker{
        margin: 0 auto;
        width: 30%;
    }
    
    .react-time-picker{
        width: 30%;
        height: 2.8em;
        margin: 0 auto;
    }

}