.Link{
    text-decoration: none;
}

.Link:hover{
    font-weight: bold;
    font-size: 1.25em;
}


#header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.5em;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgrey;
    background: white;
}

#header-nav div{
    margin: auto 5%;
}

#logo-icon{
    width: 20%;
    height: 75%;
    text-decoration: none;
}


.header-links{    
    display: flex;
    justify-content: space-evenly;
    margin: auto 2%;
    width: 45%;    
}



