.Link{
    text-decoration: none;    
    color: white;
    padding: 0;
    margin: 0;
}

.Link:hover{
    font-weight: bolder;
}


#header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.5em;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgrey;
    background: #DB7093;
}

#header-nav div{
    margin: auto 5%;
}




#logo-icon{
    width: 20%;
    height: 75%;    
    color: white;
    text-decoration: none;
    z-index: 3;
}


#header-links{    
    display: flex;
    justify-content: space-evenly;
    margin: auto 2%;
    width: 45%;  
}

#header-links li{
    list-style: none;
    width: 35%;
    text-align: center;
    font-size: 1.1em !important;
    padding: 0;
    margin: 0;
}

#header-links li > *{
    padding: 0;
    margin: 0;
}


@media screen and (max-width: 445px){
    
    #menu-icon{        
        position: absolute;
        top: .9em;
        right: 0;
        z-index: 4;
        height: 100%;
        width: 5em;
        margin-right: 2em;
    }

    #menu-icon div{
        background-color: white;
        width: 2.2em;
        margin: 5% auto !important;
        height: .35em;
    }

    #header-links{
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        height: 100vh;
        flex-direction: column;
        width: 100vw !important;
        background-color: #DB7093;
        text-align: center;
        font-size: 1.3em;
        z-index: 3 !important;
    }

    #header-nav div{
        margin: auto 2%;
        text-align: center;
    }
    
    #header-nav ul{
        width: 50%;
    }
    
    #header-nav li{
        margin: 0 auto;
        list-style: none;
        width: auto;
    }
}


