#resend_ver_section{
    margin: 0;
    padding: 0;
}

#resend_ver_section > h2{
    width: 40%;
}

#resend_ver_form{
    width: 90%;
    padding: 0;
    margin: 0 auto;
}

#resend_ver_form > fieldset{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#resend_ver_form header{
    display: block;
    width: 70%;
    margin: 2% auto;
    text-align: center;
}

#resend_ver_form > fieldset label{
    width: 20%;
    margin: 2% auto;
}

#resend_ver_form > fieldset input{
    width: 30%;
    height: 2.5em;
    margin: 0 auto;
}

#resend_ver_submit{
    margin: 2% auto;
    width: 6em;
    height: 3em;
    border: 1px solid black;
}
