#login_section{
    margin: 15% 0 10% 0;
    padding: 0;
    color: #DB7093;
}

#login_form > fieldset{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}

#login_form > fieldset > label{
    margin: 8% auto 0 30%;
}

#login_form > fieldset > input{
    margin: 0 auto 0 30%;
    width: 50%;
    height: 2em;
}

#login_submit{
    margin: 5% auto;
    width: 6em;
    height: 3em;
    font-size: 1em;    
    border: 1px solid black;    
    display: block !important;
    text-decoration: none;
    padding-top: .3em;
    background-color: #DB7093;
    color: white;
}

#login_error{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}


@media screen and (max-width: 750px){
    #login_section{
        margin: 30% 0;
    }

    #login_form{
        margin: 40% auto;
    }

    #login_form > fieldset{
        width: 70%;
    }
}


