
#reg_form{
    display: block;
    width: 50%;
    margin: 10% auto;
}

#reg_form > fieldset {    
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    margin: 0;
    width: 100%;
    text-align: left;
    padding: 0;
    color: #DB7093;
}

#reg_form > fieldset > label{
    display: block;
    margin: 8% auto 0 auto;
    width: 55%;
}

#reg_form > fieldset > input{
    display: block;
    margin: 0 auto 0 auto;
    width: 55%;
    height: 2em;
    padding: 1em;
}

#password_requirements{
    font-size: .8em; 
}

.reg_error{
    display: block;
    text-align: center;
    width: 50%;
    margin: 2% auto;
}

#reg_submit{
    border: 1px solid black;    
    display: block !important;
    text-decoration: none;
    width: 5em;
    padding-top: .3em;
    background-color: #DB7093;
    color: white;
    margin: 2% auto 3% auto !important; 
    font-size: 1em;
}




@media screen and (max-width: 445px){
    #reg_form{
        width: 90%;
        margin-top: 35%;
    }
}
